!!!
%html
  %head
    %title= [@title, settings.blog_title].compact.join(" | ")
    / %link{ href: '/pants.css', media: "screen", rel: "stylesheet", type: "text/css" }
    / %link{ href: '/atom.xml', title: "Subscribe via Atom Feed", rel: 'alternate', type: 'application/atom+xml' }
    / %script{ src: asset_path('application.js') }
  %body
    %header
      %strong= settings.author_name
      is using Schreihals.

    .container
      = yield