!!! 5
%html
  %head
    %title Schnitzelpress
    %meta{ :"http-equiv" => "content-type", :content => "text/html; charset=UTF-8" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    %link{ :href => "/assets/schnitzelpress.#{ASSET_TIMESTAMP}.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
  %body
    .container
      %header
        Schnitzelpress

      = yield

      %footer
        Schnitzelpress #{Schnitzelpress::VERSION}

    %script{ :type => 'text/javascript', :src => "/assets/schnitzelpress.#{ASSET_TIMESTAMP}.js" }
