- if posts.any?
  %h2= title
  %ul.admin-post-list
    - posts.each do |post|
      %ul.admin
        %li
          %a.button{href: "/admin/edit/#{post.id}"} edit
        %li
          %a.button{href: url_for(post)} view
        %li
          = post.title || ("%s..." % html_escape(post.body.first(50)))
